{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>oAuth</title>
  </head>
  <body>
    <div class="container-center">
      <div class="oauth-container">
        <h2>Login with oAuth</h2>
        <a href="{% provider_login_url 'github' %}" class="oauth-links slate">
          <i class="bi bi-github"></i>
          <span>Continue With Github</span>
        </a>
        <a href="{% provider_login_url 'facebook' %}" class="oauth-links blue-dark">
          <i class="bi bi-facebook"></i>
          <span>Continue With Facebook</span>
        </a>
        <a href="{% provider_login_url 'google' %}" class="oauth-links red">
          <i class="bi bi-google"></i>
          <span>Continue With Google</span>
        </a>
        <a href="{% provider_login_url 'github' %}" class="oauth-links blue-light">
          <i class="bi bi-twitter"></i>
          <span>Continue With Twitter</span>
        </a>
      </div>
    </div>
  </body>
</html>
